.bigtext {
  font-size: 300px;
}
.divvy {
  background-color: #171717;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.notfound {
  color: white;
  padding-top: 400px;
}

.fouroh {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: glitch 1s infinite;
}

.fouroh span:first-child {
  position: fixed;
  animation: glitch 650ms infinite;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
  transform: translate(-0.025em, -0.0125em);
}

.fouroh span:last-child {
  position: absolute;
  animation: glitch 350ms infinite;
  z-index: 1;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.025em, 0.0125em);
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
}
