.big {
  width: 20%;
}

.icon {
  width: 100%;
}

.word {
  font-size: 20px;
  position: absolute;
  width: 100%;
  font-family: cyber;
  padding-top: 20px;
}

.pinktext {
  color: black;
  padding-bottom: 10px;
}

.pinktext:hover {
  color: rgb(32, 207, 149);
}

.bluebux {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  text-decoration: none;
  position: relative;
  animation-fill-mode: forwards;
  width: 100px;
  height: 45px;
  border-image-slice: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

.helpbux {
  display: none;
  color:#21212100;
  background-color: #21212100;
  border: none;
  text-align: center;
  border-width: 2px;
  text-decoration: none;
  position: relative;
  animation-fill-mode: forwards;
  width: 100px;
  height: 45px;
  padding: none;
  border-image-slice: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

.bluebux:hover {
  cursor: url('/public/hand.png'), pointer;
  animation: up 0.25s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  animation-fill-mode: forwards;
}

.helpbux:hover {
  cursor: url('/public/hand.png'), pointer;
  background-color: rgb(0, 0, 0);
  animation: up 0.25s;
  animation-fill-mode: forwards;
}

.txt {
  color: white;
  font-size: 20px;
  position: relative;
  width: 150px;
}

.bigbux:hover {
  background-color: rgb(0, 0, 0);
  animation-fill-mode: forwards;
  mix-blend-mode: multiply;
}

@keyframes up {
  from {
  }
  to {
    border: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
  }
}

@keyframes down {
  from {
    border-bottom: solid;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    color: rgb(0, 0, 0);
  }
  to {
  }
}

