.img {
  width: 430px;
  height: 460px;
}

.backgrounddiv {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.322);
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: solid;
  width: 1000px;
  height: 500px;
  border-color: white;
  border-width: 2px;
  border-image-slice: 1;
  z-index: 2;
}

.desc {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popuptitle {
  color: white;
}

.popupcol {
  transform: translateY(-50%);
}
