@font-face {
  font-family: cyber;
  src: url(Components/font.otf);
}

@font-face {
  font-family: cyberlight;
  src: url(Components/fontlight.otf);
}

body {
  margin: 0;
  font-family: cyberlight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
