.backstuff {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #000000 0%, #23252b 74%);
  width: 100vw;
  height: 150vh;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.centeredtext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj {
  font-size: 100px;
  color: white;
}

.paddingbig {
  padding-top: 80px;
}

.pads {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.projecttext span:first-child {
  position: absolute;
  animation: glitch 650ms infinite;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
  transform: translate(-0.025em, -0.0125em);
}

.projecttext span:last-child {
  position: absolute;
  animation: glitch 350ms infinite;
  z-index: 1;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.025em, 0.0125em);
}

.bar {
  position: absolute;
}

.justsomestuff {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.center {
  text-align: center;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.025em 0 rgba(0, 0, 255, 0.75);
  }
}

.projecttext {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: glitch 1s infinite;
}
